<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="'push'" style="width: 10%;height: 100%">

    <mat-list>
      <h3 mat-subheader>Folders</h3>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{folder.name}}</h4>
        <p mat-line> {{folder.updated | date}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Notes</h3>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{note.name}}</h4>
        <p mat-line> {{note.updated | date}} </p>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content style="width: 100%;height: 100%">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <router-outlet name="popup"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
